<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stock</title>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/edit.css') }}">

</head>

<body>

  <nav>
    <a href="{{ url_for('sales') }}">Sales</a>
    <a href="{{ url_for('print_view') }}">Print</a>
    <button id="addToStock" class="addToStock">+</button>
  </nav>


  <div class="material-form">
    <div class="filters">
      <label for="filterMaterial">Filter by Material Name:</label>
      <input type="text" id="filterMaterial" placeholder="Enter name">

      <label for="filterColor">Filter by Material Color:</label>
      <input type="text" id="filterColor" placeholder="Enter color">
    </div>

    <div id="alertBox"></div>
    <table id="materialTable">
      <thead>
        <tr>
          <th>Material Name</th>
          <th>Cost per Kg</th>
          <th>Stock Amount</th>
          <th>Material Color</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows will be dynamically populated here -->
      </tbody>
    </table>
  </div>

  <script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/materials.js') }}"></script>
  <script src="{{ url_for('static', filename='colors.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/addStock.js') }}"></script>

</body>

</html>