.add-btn {
  padding: 10px;
  background-color: #80aaff;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-family: "Quicksand", sans-serif;
  margin: 10px;
}

.add-btn:hover {
  background-color: #6699cc;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 77, 77, 0.3);
  color: #f8c8d1;
}
