/* ===== FILTERS ===== */
.filters {
  display: flex;
}

.filters label {
  font-size: medium;
  margin-left: 15px;
  display: inline-block;
  margin-top: 5px;
}

.filters select {
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 20px;
  width: 150px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
  margin-left: 5px;
}

.filters input {
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 20px;
  width: 150px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
  margin-left: 10px;
}

.filters input:focus {
  border-color: #80aaff;
  outline: none;
}

@media screen and (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .filters input {
    width: 100%;
    margin-left: 0;
  }

  .filters label {
    margin-left: 0;
  }
}

/* ===== MATERIAL LIST ===== */
#materialList {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#materialList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
  border: 1px solid #ddd;
}

#materialList li:hover {
  background-color: #f7f7f7;
  cursor: pointer;
  transform: translateY(-5px);
}

#materialList li .material-name,
#materialList li .model-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

/* ===== TABLE STYLES ===== */
#materialTable {
  width: 100%;
  border-collapse: collapse;
  font-family: "Quicksand", sans-serif;
  justify-self: center;
}

#materialTable thead tr {
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}

#materialTable th,
#materialTable td {
  border: 1px solid #060606;
  text-align: center;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

#materialTable tbody tr:hover {
  transform: translateY(-1px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  #materialTable thead {
    display: none;
  }

  #materialTable tbody td {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  #materialTable tbody td:before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    display: inline-block;
    color: #333;
  }
}

/* ===== FORMS ===== */
.material-form,
.mini_material-form {
  background: wheat;
  border: 1px solid #f1e1a6;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 35px;
}

.material-form {
  width: 70%;
  max-width: 90%;
  min-height: 350px;
  margin: 20px;
}

.mini_material-form {
  width: 400px;
}
